body {

    background-color: rgba(82, 82, 82, 0.849);

    
}
header{
    background-color: rgb(255, 255, 255);
}

h2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-justify: justify;
}

p{
    background-color: rgb(0, 0, 0);
    color: rgb(102, 102, 102);
    text-justify:right;
    margin: 10px;
}

a{
    background-color: rgb(73, 71, 71);
    color: rgb(0, 0, 0);
    text-align: right;
}

.tomorrow-thin {
    font-family: "Tomorrow", serif;
    font-weight: 100;
    font-style: italic;
}

div{
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 120px;
    margin: 5px;
    float: right;
}

#conteudo-um {
    padding: 2px;
    border: 5px solid rgb(2, 1, 1);
    margin: 5px;
}

h2 {
    padding: 2px;
    border:5px solid rgb(236, 215, 120);
    margin: 5px;
}

img {
    border: 5px;
    margin: 8px;
}

h4 {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.596);
    text-justify: justify;
    margin: 8px;
}

h5 {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.596);
    text-justify: justify;
    margin: 1px;
}
h2 {
    padding: 2px;
    border:5px solid rgb(236, 215, 120);
    margin: 5px;
}
